# ignore maven build folder
**/target/

# pom-derived eclipse jdt files
**/.project
**/.classpath
org.eclipse.*.prefs


# local vscode config
.vscode/**

# frontend
frontend/node_modules

# cypress
**/videos/test/**
/frontend/cypress/videos