# Members of group 29
Synne Frafjord Moe <synnefm@stud.ntnu.no> <synnemoe@dhcp-10-220-214-231.wlan.ntnu.no>
Andreas Odland Netteland <andreone@stud.ntnu.no> <andreas@disputas.no> <netteland@Andreass-Macbook-Pro.local>
Sara Kalvig Østdahl <sarakos@stud.ntnu.no>
Erlend Storsve <erlestor@stud.ntnu.no> <erlestor@ntnu.no>
Hilde Mikaelsen <hildmi@stud.ntnu.no>
